body {
    margin: 0;
    padding: 0;
    font-family: "SSFangTangTi";
}

@font-face {
    font-family: "SSFangTangTi";
    src: url("../res/font/SSFangTangTi.ttf");
}

@font-face {
    font-family: "Noto Sans SC B";
    src: url("../res/font/NotoSansSC-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.wrapper {
    width: 580px;
    background-color: #ffbdca;
    padding: 15px;
    box-sizing: border-box;
}

.box {
    width: 550px;
    background-color: #ffeded;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
    border: #ffbdca 3px solid;
    box-shadow: 4px 4px 8px rgb(254, 220, 220);
    color: #ffbdca;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.content{
    margin: 15px 25px;
}

.content_img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgb(254, 220, 220);
}

.content_list p{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: large;
    font-family: "Noto Sans SC B";
}

.comments{
    font-family: "Noto Sans SC B";
}

.bottom {
    display: flex;
    margin-top: 10px;
}

.bottom_left {
    width: 70%;
}

.bottom_right {
    width: 30%;
    text-align: right;
    position: relative;
}
.bottom_right p,
.bottom_left p{
    margin: 0;
}

.bottom_right p {
    position: absolute;
    bottom: 0;
    right: 0;
}