node_modules
*.env.prod
.venv
.xml
.idea
chat_bot.db
chat_bot.db-wal
chat_bot.db-shm
cloud_music_cookies.cookie
chat_history.json
/src/clover_music/qrcode.png
/chat.db
/chat_bot.db-wal
/chat_bot.db-shm
error.log
bili.cookie
*.log
*.mp4
/bili.cookie
/src/configs/api_config.py
/src/resources/temp
/update_remote_code.py
/src/resources/image/report/*
/src/resources/image/lightnovel/*
/wenku8.cookie
/src/resources/image/yuc_wiki/*
src/clover_lightnovel/wenku8.cookie
src/clover_lightnovel/output1.html
*.pyc
/src/resources/image/jm/*