node_modules
*.env.prod
.venv
.xml
.idea
.env
chat_bot
runtime
bot.pid
Elysia
gpt_sovits_v2_api.py
chat_bot.db
chat_bot.db-wal
chat_bot.db-shm
cloud_music_cookies.cookie
chat_history.json
/src/clover_music/qrcode.png
/chat.db
/chat_bot.db-wal
/chat_bot.db-shm
error.log
bili.cookie
*.log
*.mp4
/bili.cookie
/src/configs/api_config.py
/src/configs/jm_config.yml
/src/resources/temp
/src/resources/image/report/*
/src/resources/image/lightnovel/*
/wenku8.cookie
/src/resources/image/yuc_wiki/*
src/clover_lightnovel/wenku8.cookie
src/clover_lightnovel/output1.html
*.pyc
/src/resources/image/jm/*


Elysia
runtime
/src/configs/tts
bot.pid
.vscode/launch.json
logging.conf
